* {
    text-align: center;
    font-family: Roboto;
}

a:link {
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover {
    color:lightgreen;
}

table {
    width: 50%;
    margin: auto;
}

td {
    text-align: center;
}

button {
    text-align: center;
}

.song-new-form, #is_favorite {
    text-align: center;
}
