nav {
  background-color: rgb(209, 23, 73);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

#tuner a {
  color: rgb(255, 179, 192);
  text-decoration: none;
  
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #5e3b76;
}
button a {
  color: rgb(255, 94, 122);
}

.Index h2 {
  color: rgb(96, 17, 38);
}

.New h2 {
  color: rgb(96, 17, 38);
}

.Show h2 {
  color: rgb(96, 17, 38);
}

#Song {
  background-color: rgb(172, 19, 59);
  color: rgb(254, 200, 211);
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.Songs tr td {
  height: 55px;
  /* border: 0px solid white; */
  /* box-shadow: 6px 5px 5px gray; */
  border-bottom: 1px solid rgb(254, 200, 211);
}

.tbody a {
  color: rgb(254, 200, 211);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: rgb(209, 23, 73);
  color: rgb(254, 200, 211);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

tbody tr:nth-child(odd) {
  background-color: rgb(172, 19, 59);
  color: rgb(254, 200, 211);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

.Songs {
  margin-bottom: 200px;
}

.New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
}

.New form {
  margin: auto;
  width: 95%;
  color: rgb(96, 17, 38);
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Show {
  font-family: 'Thasadith', sans-serif;
  font-size: large;
}


#tr {
  background-color: rgb(172, 19, 59);
  color:rgb(255, 179, 192);
  font-size: x-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}