.Edit h1{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.Edit Button{
    margin: 5px;
}

.New h1{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.Index{
    text-align: center;
}
.Index h1{
    margin: 5px;
    padding: 5px;
}

.Songs a:link{
    color: black;
}
.Songs a:hover{
    color: blue;
}
.Songs a:visited{
    color: purple;
}

.App{
    cursor: pointer;
}

.Home{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

body{
    background-color: pink;
    font-family:cursive;
}

.Song-Details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Show{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.Song-Details Button{
    margin: 5px;
}
