body{
    background-image: url("../src//Comonents/Images/Tuner2.jpg");

}

/* https://i.pinimg.com/564x/7e/c1/11/7ec111864f7539dce5362ccf235b61a4.jpg */

h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold
    ;
}